.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

a {
  text-decoration: none;
}

th {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

/*  signin */

.current_user, .new_user {
  padding: 0 0 30px 0;
}

.errors {
  color: red;
}

.topbar {
  height: 60px;
}

h1 {
  width: 325px;
  float:left;
  height: 50px;
  margin: 0;
}

ul.nav {
  float: right;
  height: 50px;
  margin: 0;
  padding-top: 16px;
}

ul.nav li {
  display: inline-block;
  margin-left: 20px;
}

/* Lists and forms*/

td {
  float: left;
  margin: 0 8px 0 2px;
}

.post {
  padding: 0 0 20px 0;
}

.title {
  font-size: 18px;
  margin: 0;
}

.description {
  margin: 0;
}

li.tags li {
  color: gray;
  font-style: italic;
  padding: 0 10px 0 0;
  display: inline-block;
}

#post_form{
  padding: 0 0 20px 1px;
}

#new_form{
  display: none;
}

.modify {
  margin: 0;
}

.modify li {
  display: inline-block;
  padding: 0 15px 0 0;
}

/*  edit and delete single post */

#edit_form, #delete_form {
  display: none;
}
