<form  id='edit' action="/post/<%= @post.id%>" method='post'>
  <input type='hidden' name="_method" value="put">
  <input name='edit[title]' type='text' placeholder='<%= @post.title %>'><br>
  <textarea name='edit[body]' placeholder='<%= @post.body %>'></textarea><br>
  <input name='tags' type='text' placeholder='<%= @tags %>'><br>
  <input type='submit' value='submit'>
</form>
