<div class='current_user'>
  <form id='login' actoin='/' method='post'>
    <input name='username' type='text' placeholder='YourUserName'><br>
    <input name='password' type='text' placeholder='password'><br>
    <input type='submit' value='Sign In'>
  </form>
</div>

<div class='new_user'>
  <form id='signup' actoin='/' method='post'>
    <input name='email' type='text' placeholder='name@emailaddress.com'><br>
    <input name='new_username' type='text' placeholder='YourUserName'><br>
    <input name='new_password' type='text' placeholder='password'><br>
    <input name='confirm_new_password' type='text' placeholder='confirm email'><br>
    <input type='submit' value='Sign Up'>
  </form>
</div>
