<form  id='post_form' action='/post/new' method='post'>
  <input name='title' type='text' placeholder='Enter Blog Title'><br>
  <textarea name='body' placeholder='Blog Description'></textarea><br>
  <input type='submit' value='submit'>
</form>

