<form  id='post_form' action='/post/new' method='post'>
  <input name='post[title]' type='text' placeholder='Enter Blog Title'><br>
  <textarea name='post[body]' placeholder='Blog Description'></textarea><br>
  <input name='tags' type='text' placeholder='tag1, tag2, tag3, etc.'><br>
  <input type='submit' value='submit'>
</form>

