<div class='errors'>
</div>

<div class='current_user'>
  <form id='login' action='/login' method='post'>
    <input name='username' type='text' placeholder='YourUserName'><br>
    <input name='password' type='password' placeholder='password'><br>
    <input type='submit' value='Sign In'>
  </form>
</div>

<div class='new_user'>
  <form id='signup' action='/signup' method='post'>
    <input name='email' type='email' placeholder='name@emailaddress.com'><br>
    <input name='username' type='text' placeholder='YourUserName'><br>
    <input name='password' type='password' placeholder='password'><br>
    <input name='password_confirmation' type='password' placeholder='confirm password'><br>
    <input type='submit' value='Sign Up'>
  </form>
</div>
