<h1>
  <a href='/posts'>
      <%= @current_user.username.capitalize! %>'s Blog
  </a>
</h1>

<ul class='nav'>
  <li><a href=''>My Posts</a></li><li><a href='/posts'>All Posts</a></li><li><a href='/signout'>Sign Out</a></li>
</ul>
